<h1><%= @song.title %> </h1>
<br>
<%# 
<h3>Artist: &nbsp; <%= @song.artist.name %> </h3>
<br><br>
<%# <h3>Notes:</h3>
<% @song.note_contents.each do |note| %>
     <%# <li><%= note %></li>


<%# <% end %>  